.track {
  position: relative;
  width: 44px;
  height: 24px;
  border-radius: 12px;
  background: var(--chisel-theme-toggle-track-bg);
  cursor: pointer;   
  transition: background 0.25s; 
}

.knob {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 4px;          
  left: 4px;          
  background: var(--chisel-theme-toggle-knob-bg);
  transition: left 0.25s cubic-bezier(0.33, 1, 0.68, 1); 
  display: flex;      
  align-items: center;
  justify-content: center;
  color: var(--chisel-theme-toggle-icon-color);
}

.on {
  left: 24px;
}